@model TourWeb.Models.New


<section class="sidebar-page-container">
	<div class="auto-container">
		<div class="row clearfix">

			<!-- Content Side -->
			<div class="content-side col-xl-8 col-lg-7 col-md-12 col-sm-12">
				<div class="blog-classic">

					<!-- News Detail -->
					<div class="news-detail">
						<div class="inner-box">
							<div class="image-box">
								<div class="image"><img src="/images/@Model.ImageSpecail" style="height:420px;width:770px"></div>
							</div>
							<div class="lower-content">
								<div class="info">
									<span class="i-block">By : @Model.Accounts.Name</span> &ensp; | &ensp; <span class="i-block">@Model.Date.Day/@Model.Date.Month/@Model.Date.Year</span>
								</div>
								<h4>@Model.Title</h4>
								<p>@Model.Content</p>
								<ul class="feature-list">
									<li>Free Download Instagram Logo</li>
									<li>Illustrator from Instagram Logo 9 Vectors svg vector collection</li>
									<li>Vectors SVG vector illustration graphic art design format.</li>
									<li>Following vectors are from the same pack as this vector also</li>
									<li>Instagram Logo SVG Vector is a part of Social Websites</li>
								</ul>
								<p>The use of bodyguards with executives and VIPs is on the rise due to their many benefits, with the first one being obvious that they can help defend against physical harm. A bodyguard should be well trained in defense and know how to handle a possible attack.</p>
								<div class="gallery-box">
									<div class="row clearfix">
										<!-- Column -->
										<div class="column col-lg-6 col-md-6 col-sm-12">
											<div class="image">
                                                <img src="/images/@Model.Images" style="height:254px;width:370px"/>
											</div>
										</div>
										<!-- Column -->
										<div class="column col-lg-6 col-md-6 col-sm-12">
											<div class="image">
												<img src="/images/resource/news-6.jpg" style="height:254px;width:370px" />
											</div>
										</div>
									</div>
								</div>
								<blockquote>
									<div class="quote-icon"><img src="/images/icons/quote-icon.svg" alt="" /></div>
									Producing Ideas Is The Main Way To Grow The Economy Life Insurance for Stay-at-Home Parents
									<span>JHON SMITH</span>
								</blockquote>
								<p>An executive of VIP bodyguard can also check for potential vulnerability in the home and/or transportation, even transportation routes, adding extra reinforcement or making changes where needed. They can give helpful advice on how to stay safe and what to do in the event of a dangerous situation. Finally, a bodyguard presence can act as a deterrent against potential dangers. When a bodyguard is seen, it may put people off from trying anything against highly trained personal security. Of course, some people may prefer their bodyguards in plain clothing.</p>
								<!-- Post Share Options-->
								<div class="post-share-options">
									<div class="tags"><span class="tag">Tags:</span><a href="#">Fashion</a><a href="#">Beauty</a></div>
								</div>

								<!-- Author Box -->
								<div class="blog-author-box">
									<div class="author-inner">
										<div class="thumb"><img src="/images/resource/author-1.jpg" alt=""></div>
										<div class="name">Amena Green</div>
										<div class="text">A small river named Duden flows by their place and supplies it with the necessary regelialia. It is a paradisematic country.</div>
										<ul class="social-icons clearfix">
											<li><a href="#"><span class="fab fa-facebook-f fa-fw"></span></a></li>
											<li><a href="#"><span class="fab fa-twitter fa-fw"></span></a></li>
											<li><a href="#"><span class="fab fa-youtube fa-fw"></span></a></li>
											<li><a href="#"><span class="fab fa-instagram fa-fw"></span></a></li>
										</ul>
									</div>
								</div>
								<!-- End Author Box -->
								<!-- More Posts -->
								<div class="more-posts clearfix">
									<div class="pull-left">
										<a href="#">Previous Post</a>
									</div>
									<span class="grid-icon fas fa-grid-2 fa-fw"></span>
									<div class="pull-right">
										<a href="#">Next Post</a>
									</div>
								</div>
								<!-- End More Posts -->
								<!-- Carousel Box -->
								<div class="carousel-box">
									<h5>Top Related Post</h5>
									<div class="related-blog-carousel owl-carousel owl-theme">

										@foreach (var post in ViewBag.TopRelatedPost)
										{
											<!-- Slide -->
											<div class="slide">
												<div class="row clearfix">
													<!-- Image Column -->
													<div class="image-column col-xl-6 col-lg-12 col-md-6 col-sm-12">
														<div class="image">
															<img src="/images/@post.ImageSpecail" style="height:274px;width:370px" />
														</div>
													</div>
													<!-- Content Column -->
													<div class="content-column col-xl-6 col-lg-12 col-md-6 col-sm-12">
														<div class="inner-column" style="height:274px;width:370px">
															<div class="info">
																<span class="i-block">By : @post.Accounts.Name</span> &ensp; | &ensp; <span class="i-block">@Model.Date.Day/@Model.Date.Month/@Model.Date.Year</span>
															</div>
															<h4><a href="/New/BlogDetail/@post.Id">@post.Title</a></h4>
															@if (post.Content.Length > 90)
															{
																<div class="text">@post.Content.Substring(0, 90)...</div>
															}
															else
															{
																<div class="text">@post.Content</div>
															}
														</div>
													</div>
												</div>
											</div>
										}
										


									</div>
								</div>
								<!-- End Carousel Box -->
								<!-- Comments Area -->
								<div class="comments-area">
									<div class="group-title">
										<h5>3 Replies To “How Water Useful For Our Body & Life”</h5>
									</div>

									<div class="comment-box">
										<div class="comment">
											<div class="author-thumb"><img src="/images/resource/author-2.jpg" alt=""></div>
											<div class="comment-info clearfix"><strong>James Hayden</strong><div class="comment-time">Jan 30, 2022</div></div>
											<div class="text">Droin ac quam et lectus vestibulum blandit. Nunc maximus nibh at placerat tincidunt. Nam sem lacus, ornare non ante sed, ultricies</div>
											<a class="theme-btn reply-btn" href="#"> Reply</a>
										</div>
									</div>

									<div class="comment-box reply-comment">
										<div class="comment">
											<div class="author-thumb"><img src="/images/resource/author-2.jpg" alt=""></div>
											<div class="comment-info clearfix"><strong>James Hayden</strong><div class="comment-time">Jan 30, 2022</div></div>
											<div class="text">Droin ac quam et lectus vestibulum blandit. Nunc maximus nibh at placerat tincidunt. Nam sem lacus, ornare non ante sed, ultricies</div>
											<a class="theme-btn reply-btn" href="#"> Reply</a>
										</div>
									</div>

									<div class="comment-box">
										<div class="comment">
											<div class="author-thumb"><img src="/images/resource/author-2.jpg" alt=""></div>
											<div class="comment-info clearfix"><strong>James Hayden</strong><div class="comment-time">Jan 30, 2022</div></div>
											<div class="text">Droin ac quam et lectus vestibulum blandit. Nunc maximus nibh at placerat tincidunt. Nam sem lacus, ornare non ante sed, ultricies</div>
											<a class="theme-btn reply-btn" href="#"> Reply</a>
										</div>
									</div>

								</div>

								<!-- Comment Form -->
								<div class="comment-form">
									<div class="group-title"><h4>Leave A comments</h4></div>

									<!--Comment Form-->
									<form method="post" action="blog.html">
										<div class="row clearfix">

											<div class="col-lg-6 col-md-6 col-sm-12 form-group">
												<input type="text" name="username" placeholder="Your Name*" required>
											</div>

											<div class="col-lg-6 col-md-6 col-sm-12 form-group">
												<input type="email" name="email" placeholder="Your Email*" required>
											</div>

											<div class="col-lg-12 col-md-12 col-sm-12 form-group">
												<textarea class="" name="message" placeholder="Write Message"></textarea>
											</div>

											<div class="col-lg-12 col-md-12 col-sm-12 form-group">
												<button class="theme-btn btn-style-two"><span class="txt">Submit Now <i class="fa fa-angle-right"></i></span></button>
											</div>

										</div>
									</form>

								</div>
								<!--End Comment Form -->


							</div>
						</div>
					</div>

				</div>
			</div>

			<!-- Sidebar Column -->
			<div class="sidebar-column col-xl-4 col-lg-5 col-md-12 col-sm-12">
				<div class="inner-column">

					<!-- Search Widget -->
					<div class="sidebar-widget search-box">
						<div class="sidebar-title">
							<h5>Search</h5>
						</div>

						<form method="post" action="contact.html">
							<div class="form-group">
								<input type="search" name="search-field" value="" placeholder="Search Here ..." required>
								<button type="submit"><span class="icon fa fa-search"></span></button>
							</div>
						</form>

					</div>

					<!-- Follow Widget -->
					<div class="sidebar-widget follow-widget">
						<div class="sidebar-title">
							<h5>Follow us</h5>
						</div>
						<ul class="social-list">
							<li class="facebook"><span class="icon fab fa-facebook-f fa-fw"></span> <strong>1250M +</strong> Followers</li>
							<li class="twitter"><span class="icon fab fa-twitter fa-fw"></span> <strong>1250M +</strong> Followers</li>
							<li class="youtube"><span class="icon fab fa-youtube fa-fw"></span> <strong>1250M +</strong> Followers</li>
							<li class="linkedin"><span class="icon fab fa-linkedin-in fa-fw"></span> <strong>1250M +</strong> Followers</li>
						</ul>
					</div>

					<!-- Category Widget -->
					<div class="sidebar-widget category-widget">
						<div class="sidebar-title">
							<h5>Category</h5>
						</div>
						<ul class="sidebar-category-list">
							<li style="background-image: url(/images/background/category-1.jpg)">
								<span class="txt">Therapy</span> <span class="number">05</span>
							</li>
							<li style="background-image: url(/images/background/category-2.jpg)">
								<span class="txt">Beauty Items</span> <span class="number">09</span>
							</li>
							<li style="background-image: url(/images/background/category-3.jpg)">
								<span class="txt">Body Sliming</span> <span class="number">07</span>
							</li>
							<li style="background-image: url(/images/background/category-4.jpg)">
								<span class="txt">Fashion Fitness</span> <span class="number">10</span>
							</li>
						</ul>
					</div>

					<!-- Search Widget -->
					<div class="sidebar-widget popular-posts">
						<div class="sidebar-title">
							<h5>Recent Post</h5>
						</div>

						<article class="post">
							<figure class="post-thumb"><img src="/images/resource/post-thumb-1.jpg" alt=""><a href="news-detail.html" class="overlay-box"><span class="icon fa fa-link"></span></a></figure>
							<div class="text"><a href="news-detail.html">the best beach hikes on the west coast</a></div>
							<div class="post-info">20 March 2022</div>
						</article>

						<article class="post">
							<figure class="post-thumb"><img src="/images/resource/post-thumb-2.jpg" alt=""><a href="news-detail.html" class="overlay-box"><span class="icon fa fa-link"></span></a></figure>
							<div class="text"><a href="news-detail.html">New: Freehand Template for the whole</a></div>
							<div class="post-info">20 March 2022</div>
						</article>

						<article class="post">
							<figure class="post-thumb"><img src="/images/resource/post-thumb-3.jpg" alt=""><a href="news-detail.html" class="overlay-box"><span class="icon fa fa-link"></span></a></figure>
							<div class="text"><a href="news-detail.html">Security isn’t just a techn logy problem it’s</a></div>
							<div class="post-info">20 March 2022</div>
						</article>

					</div>

					<!-- Buy Treker Widget -->
					<div class="sidebar-widget buy-treker-widget">
						<div class="widget-content" style="background-image: url(/images/background/buy.jpg)">
							<div class="logo">
								<a href="index.html"><img src="/images/icons/buy-treker.svg" alt="" /></a>
							</div>
							<div class="text">Awesome Trekking Travel <br> Theme !</div>
							<a href="#" class="theme-btn buy-now">Buy Now</a>
						</div>
					</div>

				</div>
			</div>
		</div>

	</div>
</section>


