@model IEnumerable<TourWeb.Models.Trekking>

@{
    ViewData["Title"] = "Index";
}


<div class="content-wrapper" style="margin-left:0px">

    <!-- Content Header (Page header) -->
    <section class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1>TrekkingData</h1>
                </div>
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a href="/admin/home/index">Home</a></li>
                        <li class="breadcrumb-item active">DataTables</li>
                    </ol>
                </div>
            </div>
        </div><!-- /.container-fluid -->
    </section>
    <p>
        <a asp-action="Create" style="margin-left:15px">Create New</a>
    </p>
    <section class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-12">
                    <div class="card">
                        <div class="card-header">
                            <h3 class="card-title">DataTable with minimal features & hover style</h3>
                        </div>
                        <!-- /.card-header -->
                        <div class="card-body">
                            <table id="example2" class="table table-bordered table-hover">
                                <thead>
                                    <tr>
                                        <th>
                                            @Html.DisplayNameFor(model => model.Name)
                                        </th>
                                        <th>
                                            @Html.DisplayNameFor(model => model.Description)
                                        </th>
                                        <th>
                                            @Html.DisplayNameFor(model => model.Detail)
                                        </th>
                                        <th>
                                            @Html.DisplayNameFor(model => model.Price)
                                        </th>
                                        <th>
                                            @Html.DisplayNameFor(model => model.Review)
                                        </th>
                                        <th>
                                            @Html.DisplayNameFor(model => model.Address)
                                        </th>
                                        <th>
                                            @Html.DisplayNameFor(model => model.Duration)
                                        </th>
                                        <th>
                                            @Html.DisplayNameFor(model => model.Feature)
                                        </th>
                                        <th>
                                            @Html.DisplayNameFor(model => model.Height)
                                        </th>
                                        <th>
                                            @Html.DisplayNameFor(model => model.Difficulty)
                                        </th>
                                        <th>
                                            @Html.DisplayNameFor(model => model.ImageSpecial)
                                        </th>
                                        <th>
                                            @Html.DisplayNameFor(model => model.Area)
                                        </th>
                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in Model)
                                    {
                                        <tr>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.Name)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.Description)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.Detail)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.Price)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.Review)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.Address)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.Duration)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.Feature)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.Height)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.Difficulty)
                                            </td>
                                            <td>
                                                <img src="/images/@item.ImageSpecial" alt="Alternate Text" />
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.Area)
                                            </td>
                                            <td>
                                                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                                                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                                                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                                            </td>
                                        </tr>
                                    }
                                </tbody>

                            </table>
                        </div>
                        <!-- /.card-body -->
                    </div>
                    <!-- /.card -->
                    <!-- /.card -->
                </div>
                <!-- /.col -->
            </div>
            <!-- /.row -->
        </div>
        <!-- /.container-fluid -->
    </section>

</div>